body {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: darkblue;
    background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: #f3f3f3;
    margin: 0;
}

#title{
  text-align:center;
  display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom:0;
    word-spacing:0px;
}

#description{
    position:relative;
    bottom:15px;
    text-align:center;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 40%);
    word-spacing: 2px;
}

#survey-form{
    background-color:darkblue;
    border-radius: 0.25rem;
    margin:auto auto;
    width:35%;
    height:100%;
    padding:3px 20px;
    opacity:0.8;
}

.label, #name-label, #email-label, #number-label{
    display:block;
    margin: 5px auto 4px auto;
    padding: 0.1rem 0;
    
}

.label{
    padding-bottom: 0;
    margin-bottom:0;
}

#name,#email,#number{
    width:100%;
}
